    <ion-header>
  <div class="background-faixa-vermelha" ></div>
  <ion-navbar color="red">
    <ion-title>Configurações</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
    <ion-card>
        <img style="width: 40%; height: 40%; padding: 2%; margin-left: 30%;" [src]="getAvatar(usuarioLogado)">
        <ion-card-content>
            <ion-col>
                <ion-card-title style="text-align: center;">
                    {{usuarioLogado.nome}}
                </ion-card-title>                
            </ion-col>           
            <ion-col>
                <ion-item>
                    <ion-label style="color:#f44336" stacked>Email</ion-label>
                    <ion-input type="text" [(ngModel)]="usuarioLogado.email"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label style="color:#f44336" stacked>Telefone</ion-label>
                    <ion-input type="text" [(ngModel)]="usuarioLogado.telefone"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label style="color:#f44336" stacked>Endereço</ion-label>
                    <ion-input type="text" [(ngModel)]="usuarioLogado.endereco"></ion-input>
                </ion-item>                
            </ion-col>                 
        </ion-card-content>                        
    </ion-card>    
    
    <button ion-item block *ngIf="usuarioLogado.profissional == null" icon-left (click)="vincular();">
            <ion-icon name='open' style="margin-right: 5px;"></ion-icon>
            Vincular profissional
    </button>
    <ion-card *ngIf="usuarioLogado.profissional != null">
        <ion-card-header color="primary" style="margin-top:5px;">
            Profissional Vinculado
        </ion-card-header>
        <ion-card-content>
            <ion-item>
                <ion-avatar item-left>
                    <img [src]="getAvatar(usuarioLogado.profissional)">
                </ion-avatar>
                <h2>{{usuarioLogado.profissional.nome}}</h2>
            </ion-item>
            
        </ion-card-content>        
    </ion-card>
    <hr/>    
    <button ion-item icon-left block (click)="logout();">
        <ion-icon name='exit' style="margin-right: 5px;"></ion-icon>
        Logout
    </button>
</ion-content>
