<ion-header>
  <div class="background-faixa-azul"></div>
  <ion-navbar color="blue">
    <ion-title >Registrar</ion-title>

    <ion-buttons end *ngIf="!visualizando">
      <button ion-button icon-only (click)="salvar()">
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
    <h4 style="text-align: center" *ngIf="visualizando">{{getStatusByAgenda()}}</h4>
    <ion-list>
        <ion-item>
            <ion-icon name="calendar" item-left color="dark_red"></ion-icon>
            <ion-label stacked>Data *</ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" [(ngModel)]="agendaAtual.data" disabled></ion-datetime>
        </ion-item>
        <ion-item>
            <ion-icon name="time" item-left color="dark_red"></ion-icon>
            <ion-label stacked>Hora *</ion-label>
            <ion-datetime displayFormat="HH:mm" [(ngModel)]="agendaAtual.hora" disabled></ion-datetime>
        </ion-item>
        <ion-item>
            <ion-icon name="create" item-left color="dark_red"></ion-icon>
            <ion-label>Tipo</ion-label>
            <ion-select [(ngModel)]="agendaAtual.tipo" disabled>
                    <ion-option value="SIMPLES">Consulta Simples</ion-option>
                    <ion-option value="ANAMNESE">Anamnese Inicial</ion-option>
                    <ion-option value="TRATAMENTO">Tratamento</ion-option>
                    <ion-option value="ACOMPANHAMENTO">Acompanhamento</ion-option>
                    <ion-option value="RETORNO">Retorno</ion-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-icon name="medkit" item-left color="dark_red"></ion-icon>
            <ion-label>Urgência</ion-label>
            <ion-select [(ngModel)]="agendaAtual.nivelUrgencia" disabled>
                    <ion-option value="1">Alto</ion-option>
                    <ion-option value="2">Médio</ion-option>
                    <ion-option value="3">Normal</ion-option>
                    <ion-option value="4">Baixo</ion-option>
            </ion-select>     
        </ion-item>       

        <ion-item>
            <ion-icon name="paper" item-left color="dark_red"></ion-icon>
            <ion-label stacked >Observação</ion-label>
            <ion-textarea rows="5" [(ngModel)]="agendaAtual.observacao" [disabled]="visualizando"></ion-textarea>
        </ion-item>
    </ion-list>

    <ion-card *ngIf="agendaAtual.questionario">        
        <ion-card-content>
            <ion-col>
                <ion-card-title style="text-align: center;">
                    {{agendaAtual.questionario.nome}}
                </ion-card-title>
                <p style="text-align: center;" *ngIf="!visualizando">
                    {{statusQuestionario}}
                </p>
            </ion-col>                
            <ion-col>
                <button ion-button block color="blue" 
                        icon-left 
                        (click)="responderQuestionario()"
                        *ngIf="!visualizando">
                    <ion-icon name='open' style="margin-right: 5px;"></ion-icon>
                    Responder
                </button>
                <button ion-button block color="blue" 
                        icon-left 
                        (click)="visualizarQuestionario()"
                        *ngIf="visualizando">
                    <ion-icon name='open' style="margin-right: 5px;"></ion-icon>
                    Visualizar Respostas
                </button>
            </ion-col>            
        </ion-card-content>                        
    </ion-card>

</ion-content>