// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.background-faixa-verde{
  background: color($colors, dark_primary, base) !important;
  height: 5px;
}

.background-faixa-azul{
  background: color($colors, dark_blue, base) !important;
  height: 5px;
}

.background-faixa-vermelha{
  background: color($colors, dark_red, base) !important;
  height: 5px;
}


.sos-fundo{

}

.sos-btn{
  height: 20%;
  margin-top: 20%;
  font-size: larger;
}
.sos-icon{
  margin-right:10%;
  font-size: x-large;
}

.img-login{
  width: 70%;
  height: 10%;
  margin-left: 17%;
}

.item-login ion-label{
  color: #94bf1f;
}

.item-login ion-input{
  color: #111111;
}
.title-login{
  color: #e64c4c;
  font-size: 3em;
  margin-left: 25%;

}


.modal {      
    position: absolute;
    overflow: hidden;
    max-width: 95%;
    border-radius: 2px;
    width: 80vw;
    height: 90vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 0;
    box-shadow: 0 16px 20px rgba(0,0,0,.4);
    //background-color: rgba(0,0,0,0.5);    
    background: rgba(0,0,0,0.5) !important;
  }

  
